@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    min-height: 100dvh;
    margin: 0;
    background-color: #161821;
    /* background-color: aliceblue; */
    /* font-family: Roboto, system-ui, -apple-system,  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 2.5ch;
    font-family: "Noto Sans", sans-serif;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr auto;
}

button {
    font-family: Roboto, system-ui, -apple-system, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    color: aquamarine;
}

dialog {
    background-color: rgb(42, 176, 131);
    box-shadow: 0px 0px 5px rgb(223, 223, 223);
    border: 1px solid black;
    border-radius: 2vh;

    input,
    textarea {
        border-radius: 5px;
        /* width: 35ch; */
        font-size: 1.5ch;
    }

    #add-completed {
        display: none;
    }

    input,
    textarea:focus {
        border: 1px solid red;
        color: red
    }

    input {
        border: 1px solid grey;
        /* height: 4vh; */
        /* font-size: 1.3ch; */
    }

    textarea {
        resize: vertical;
    }

    #add-title,
    #add-description,
    #add-notes,
    #add-read {
        margin-bottom: 2vh;
    }

    #add-notes {
        height: 5vh;
    }

}



#container{
    grid-column: 1/2;
    grid-row: 2/3;
    margin-right: 10px;
    overflow-y: auto;
}

#btn{
    grid-column: 1/2;
    grid-row: 3/4;
    height: 35px;
    width: 150px;
    margin-bottom: 2vh;
    margin-left: 2vh;
}



#itemdiv {
    display: grid;
    grid-template-columns: auto 1fr 0.2fr 0.2fr;
    color: aliceblue;
    background-color: #282a3a;
    border: 2px solid rgb(0, 178, 169);
    border-radius: 6px;
    min-height: 40px;
    height: 6vh;
    padding-left: 10px;
    margin-bottom: 1vh;
    cursor: default;
    align-items: center;
    gap: 1rem;
}

#icon {

    width: 24px;
    height: 24px;
    padding: 0;
    border: 2px solid aquamarine;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    display: grid;
    place-items: center;

    margin-right: 10px;
}

#sidepanel textarea{
    border: none;
    background-color: transparent;
    resize: none;
    color: grey;
}

#sidepanel textarea:focus{
    color: white;
    outline: none;
}

#sidepanel{
    grid-column: 2/3;
    grid-row: 2/4;
    border: 3px solid aquamarine;
    border-radius: 15px;
}

